body {
  background: rgb(246, 240, 215);
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid rgb(128, 185, 159);
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}

img {
	max-width: 300px;
}

#myMo {
	font-size: 20px;
	font-weight: bolder;
}

#moCap {
	font-size: 12px;
	font-weight:lighter;
	font-style: italic;
}

#moPic {
	height: 180px;
	float: left;
	margin-right: 15px;
}

#bio {
	align-items: center;
}

.details {
	display: inline-block;
	width: 150px;
	margin: 20px;
}

#moInfo {
	display: flex;
}